<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--PAGE TITLE-->
    <title>ETIYA | Knowledge Sharing</title>
    <!--IMPORT FAVICON-->
    <link
      rel="icon"
      type="image/png"
      href="https://www.etiya.com/files/favicon.png"
    />
    <!--IMPORT CSS STYLESHEET-->
    <link rel="stylesheet" href="style.css" />
    <!--IMPORT GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Lora:wght@400;500&family=Roboto&family=Varela&display=swap"
      rel="stylesheet"
    />
    <!--IMPORT BOOTSTRAP BUTTON-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-image: none; background-color: #1f1355">
    <!--HEADER + NAVIGATION BAR-->
    <header class="header-main">
      <p class="header-main-logo">KNOWLEDGE SHARING</p>
      <nav class="header-main-navigation">
        <ul class="header-main-navigation-list">
          <li><a href="/abstract">ABSTRACT</a></li>
          <li><a href="/share">CREATE POST</a></li>
          <li><a href="/library">LIBRARY</a></li>
          <li><a href="/leaderboard">LEADERBOARD</a></li>
        </ul>
      </nav>
    </header>
    <!--------MAIN ABSTRACT----------->
    <div class="main-abstract">
      <div class="main-abstract-header">
        <h1>
          Knowledge Management for Knowledge Sharing & Organizational Learning
        </h1>
      </div>
      <div class="main-abstract-header-info">
        <h2>
          Effective collaboration and ongoing organizational learning—especially
          when employees work across multiple locations—requires a simple and
          accessible way to find, share and work together to enhance knowledge.
          A knowledge management system is crucial to effective collaboration,
          as is a self-learning knowledge base that responds to the way your
          employees interact with it.
        </h2>
      </div>
      <div class="main-abstract-header-button">
        <button type="submit" class="btn btn-dark">
          <a href="#learnmore" style="text-decoration: none; color: white"
            >Learn More..</a
          >
        </button>
        <button type="button" class="btn btn-dark">
          <a href="#benefit" style="text-decoration: none; color: white"
            >Advantages</a
          >
        </button>
        <button type="button" class="btn btn-dark">Our Team</button>
      </div>
    </div>
    <!------LEARNMORE ABSTRACT-------->
    <div class="main-abstract-learnmore" id="learnmore">
      <div class="main-abstract-header-learnmore">
        <h2>What is Knowledge Sharing ?</h2>
      </div>
      <div class="main-abstract-header-info-learnmore">
        <p>
          Knowledge sharing encompasses both making information available to
          those who actively seek it within your organization and directly
          communicating the appropriate knowledge to a user who could
          potentially apply it for the benefit of your business. Team leaders
          should regularly encourage, and possibly incentivize, knowledge
          sharing to make it part of a culture of learning within their
          organization.
        </p>
      </div>
      <div class="learnmore-image">
        <img
          src="https://st6.io/static/2556f5814bd4821cb4eacebaab018a14/knowledge-sharing.png"
        />
      </div>
      <div class="main-abstract-header-info-learnmore-p2">
        <p>
          A knowledge sharing system is a resource that allows employees to
          access, share, and reuse or apply knowledge stored throughout your
          organization. A knowledge management system with intuitive search
          features and well-organized, tagged content ensures that employees who
          seek explicit knowledge can easily find it, be alerted to other
          relevant knowledge and share it with other members of the organization
          who could put it to beneficial use. To promote the exchange of tacit
          knowledge, an effective knowledge management system and culture should
          also offer opportunities for formal and informal connections with
          experts and colleagues. From shadowing or mentoring arrangements and
          hands-on training to less-structured discussion spaces or messaging
          applications, these connections allow for a more free flow of
          information.
        </p>
      </div>
    </div>
    <!--------BENEFIT ABSTRACT-------->
    <div class="main-abstract-benefit" id="benefit">
      <div class="main-abstract-benefit-header">
        <h2>What are Benefits of Knowledge Sharing ?</h2>
      </div>
      <div class="main-abstract-benefit-info">
        <p>
          Continuous organizational learning allows your enterprise to evolve to
          meet the needs of your customers and market and helps identify new
          opportunities for growth.Your organization must seek and create
          knowledge, encourage employees to contribute new ideas and offer
          opportunities for employee development and discussions that may spark
          new thoughts and practices. It requires that you find ways to retain
          knowledge, so it’s not lost if certain employees depart. It also calls
          for knowledge sharing with the right people at the right time through
          intuitive searches, direct communications, and a culture that
          encourages regular sharing and collaboration.
        </p>
      </div>
      <div class="main-abstract-benefit-list">
        <ul>
          <li>
            <strong style="color: #f78200"
              >Identify Growth Opportunities: </strong
            >With a strong knowledge-sharing culture, you can identify frequent
            or especially impactful contributors who may offer unique expertise
            or have the capacity to inspire and teach their colleagues.
            Opportunities for recognition and promotion of these employees as
            subject matter experts or managers may follow.
          </li>
          <li>
            <strong style="color: #f78200">Spark Innovation: </strong>By
            regularly engaging employees and reducing redundancies, you
            encourage employees (and free up their time) to contribute to
            company knowledge. This allows them to share areas of expertise you
            might not have otherwise uncovered and collaborate more innovatively
            and creatively with their colleagues.
          </li>
          <li>
            <strong style="color: #f78200">Engage Employees : </strong
            >Especially in larger organizations, employees may find it
            challenging to make their voices heard or play an important role in
            company decisions and initiatives. An effective knowledge-sharing
            culture works in two ways. It encourages employees to share their
            expertise and connect with other team members who can learn from or
            build upon that expertise. It also communicates how that knowledge
            contribution plays a role in big decisions or advancements.
          </li>
          <li>
            <strong style="color: #f78200">Make Informed Decisions : </strong
            >With the right knowledge at their fingertips, whether searched or
            sent, employees can make faster decisions based on relevant,
            verified, updated and often tried-and-true knowledge. Based on their
            unique experiences, they can also add to that knowledge, further
            enhancing their problem-solving and decision-making capacity.
          </li>
          <li>
            <strong style="color: #f78200">Encourages Collaboration : </strong
            >Establishing a process for knowledge sharing makes it easier for
            people to work collaboratively and communicate what they know to
            their team. It adds actionable steps to a process that otherwise may
            not happen consistently—it lets your staff know when and how to
            share their expertise.Cultivating a culture of knowledge sharing
            within the organization can serve as a remedy to such hindrances. It
            also ensures that valuable knowledge makes it across company silos,
            so employees from different teams or departments still get the
            opportunity to learn from each other.
          </li>
        </ul>
      </div>
      <div class="main-abstract-benefit-button">
        <button type="button" class="btn btn-dark">
          <a href="/share" style="text-decoration: none; color: white"
            >CREATE A POST</a
          >
        </button>
      </div>
    </div>
  </body>
</html>
