<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--PAGE TITLE-->
    <title>ETIYA | Knowledge Sharing</title>
    <!--IMPORT CSS STYLESHEET-->
    <link
      rel="icon"
      type="image/png"
      href="https://www.etiya.com/files/favicon.png"
    />
    <!--IMPORT CSS STYLESHEET-->
    <link rel="stylesheet" href="style.css" />
    <!--IMPORT GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Lora:wght@400;500&family=Roboto&family=Varela&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--HEADER + NAVIGATION BAR-->
    <header class="header-main">
      <p class="header-main-logo">KNOWLEDGE SHARING</p>
      <nav class="header-main-navigation">
        <ul class="header-main-navigation-list">
          <li><a href="/abstract">ABSTRACT</a></li>
          <li><a href="/share">CREATE POST</a></li>
          <li><a href="/library">LIBRARY</a></li>
          <li><a href="/leaderboard">LEADERBOARD</a></li>
        </ul>
      </nav>
    </header>
    <!--LEADERBOARD GRAPH-->
    <div class="leaderboard-div">
      <iframe
        style="width: 1400px; height: 700px"
        src="https://charts.mongodb.com/charts-project-0-iafcs/public/dashboards/d36fbcf7-1f85-407e-8868-e95ec20884f4"
      ></iframe>
    </div>
  </body>
</html>
