<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--PAGE TITLE-->
    <title>ETIYA | Knowledge Sharing</title>
    <!--IMPORT CSS STYLESHEET-->
    <link
      rel="icon"
      href="https://etiya.com/assets/images/favicon-b097a887.png"
      sizes="32x32"
    />
    <!--IMPORT CSS STYLESHEET-->
    <link rel="stylesheet" href="style.css" />
    <!--IMPORT GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Lora:wght@400;500&family=Roboto&family=Varela&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--HEADER + NAVIGATION BAR-->
    <header class="header-main">
      <p class="header-main-logo">KNOWLEDGE SHARING</p>
      <nav class="header-main-navigation">
        <ul class="header-main-navigation-list">
          <li><a href="/abstract">ABSTRACT</a></li>
          <li><a href="/share">CREATE POST</a></li>
          <li><a href="/library">LIBRARY</a></li>
          <li><a href="/leaderboard">LEADERBOARD</a></li>
        </ul>
      </nav>
    </header>
    <!--CARDS-->
    <div class="flex-box">
      <% posts.forEach(function(post){%>
      <div class="card">
        <div class="card-img"></div>
        <p
          class="card-author"
          style="color: black; margin-bottom: 5px; margin-top: 5px"
        >
          Author: <br />
          <%=post.author%>
        </p>
        <p class="card-date" style="color: black; margin-bottom: 5px">
          Date: <%=post.date%>
        </p>
        <p
          class="card-title"
          style="
            color: black;
            margin-bottom: 5px;
            word-wrap: break-word;
            height: 40px;
          "
        >
          Title: <%=post.title.substring(0,40)%>
        </p>
        <a href="/post/<%=post._id%>" class="card-link" style="color: white"
          >Read More..</a
        >
      </div>
      <% }) %>
    </div>
  </body>
</html>
