<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--PAGE TITLE-->
    <title>ETIYA | Knowledge Sharing</title>
    <!--IMPORT CSS STYLESHEET-->
    <link
      rel="icon"
      href="https://etiya.com/assets/images/favicon-b097a887.png"
      sizes="32x32"
    />
    <!--IMPORT CSS STYLESHEET-->
    <link rel="stylesheet" href="style.css" />
    <!--IMPORT GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Lora:wght@400;500&family=Roboto&family=Varela&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--SIGN IN FORM-->
    <%if(messages.error){%>
    <div>
      <ul class="alert alert-error text-center">
        <li><%=messages.error%></li>
      </ul>
    </div>
    <%}%>
    <h1 class="loginheader">ETIYA | KNOWLEDGE SHARING</h1>
    <!--SIGN IN FORM-->
    <div class="center">
      <h1>Login</h1>
      <form method="POST" action="/login" id="loginForm">
        <div class="text-field">
          <input type="email" name="username" required /><span></span
          ><label>Username</label>
        </div>
        <div class="text-field">
          <input type="password" name="password" required /><span></span
          ><label>Password</label>
        </div>
        <div class="forgot-password">Forgot Password?</div>
        <button type="submit" class="loginbutton">LOGIN</button>
      </form>
    </div>
  </body>
</html>
