<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ETIYA | Knowledge Sharing</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <!--------EMAIL-------->
      <div class="form-outline mb-4">
        <input
          type="email"
          id="form3Example3"
          class="form-control form-control-lg"
          placeholder="Enter your Etiya email account"
          name="username"
        />
        <label
          class="form-label"
          for="form3Example3"
          style="color: #f78200; margin-bottom: 30px"
          >Email Address</label
        >
      </div>

      <!------PASSWORD------->
      <div class="form-outline mb-3">
        <input
          type="password"
          id="form3Example4"
          class="form-control form-control-lg"
          placeholder="Create a strong password"
          name="password"
        />
        <label
          class="form-label"
          for="form3Example4"
          style="color: #f78200; margin-bottom: 30px"
          >Password</label
        >
      </div>
      <!-------REGISTER BUTTON------->
      <div class="text-center text-lg-start mt-4 pt-2">
        <button
          type="submit"
          class="btn-login btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem; color: #f78200"
        >
          <strong style="color: white">REGISTER</strong>
        </button>
      </div>
    </form>
  </body>
</html>
